<app-navigation></app-navigation>
<main>

<button type="button" #modalTimeoutButton (click)="modal3.show()" style="display: none;" data-backdrop="static" data-keyboard="false">test</button>
<button type="button" #modalTimeoutHideButton (click)="modal3.hide()" style="display: none;" data-backdrop="static" data-keyboard="false">test</button>
  
  <app-modal #modal3>
    <div class="app-modal-header">
      Application Time Out
    </div>
    <div class="app-modal-body">
      Please extend time out or sign out. <br> Time left {{idleState}} 
    </div>
    <div class="app-modal-footer">
      <button type="button" *ngIf="!timedOut" class="btn btn-warning" (click)="modal3.hide(); reset();">Extend Session</button>
      <button type="button" *ngIf="!timedOut" class="btn btn-danger" (click)="logoutCurrentUser()">Sign Out</button>    
    </div>
  </app-modal>

  <router-outlet></router-outlet>
 
</main>
<ng2-toasty [position]="'bottom-right'"></ng2-toasty>