<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/register', 'list']" class="list">Register List</a></li>
        <li><a class="create" [routerLink]="['/register', 'create']" class="create">New Register</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Register</h1>
    <ol class="property-list register">
  <li class="fieldcontain">
    <span id="password-label" class="property-label">Password</span>
    <div class="property-value" aria-labelledby="password-label">
      <span>{{register.password}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="email-label" class="property-label">Email</span>
    <div class="property-value" aria-labelledby="email-label">
      <span>{{register.email}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="firstName-label" class="property-label">First Name</span>
    <div class="property-value" aria-labelledby="firstName-label">
      <span>{{register.firstName}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="lastName-label" class="property-label">Last Name</span>
    <div class="property-value" aria-labelledby="lastName-label">
      <span>{{register.lastName}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="gender-label" class="property-label">Gender</span>
    <div class="property-value" aria-labelledby="gender-label">
      <span>{{register.gender}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="mobile-label" class="property-label">Mobile</span>
    <div class="property-value" aria-labelledby="mobile-label">
      <span>{{register.mobile}}</span>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/register', 'edit', register.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>