<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/account','create']" class="create">New Account</a></li>
    </ul>
</div>
<div id="list-account" class="content scaffold-list" role="main">
    <h1>Account List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Num</th>
      <th>Zip Code</th>
      <th>Address2</th>
      <th>City</th>
      <th>Address1</th>
      <th>Date Of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let account of accountList; let e = even;">
      <td>
        <a [routerLink]="['/account','show',account.id]">{{account.id}}</a>
      </td>
      <td>
        <span>{{account.num}}</span>
      </td>
      <td>
        <span>{{account.zipCode}}</span>
      </td>
      <td>
        <span>{{account.address2}}</span>
      </td>
      <td>
        <span>{{account.city}}</span>
      </td>
      <td>
        <span>{{account.address1}}</span>
      </td>
      <td>
        <span>{{account.dateOfBirth | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>