<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-9">

      <div id="persist-account" class="content scaffold-edit" role="main">
        <h1>{{create ? "Create" : ""}} Account</h1>
        <ul class="errors" role="alert" *ngIf="errors">
          <li *ngFor="let error of errors">{{error.message}}</li>
        </ul>
        <hr>
        <button *ngIf="account.type && create" class="btn btn-secondary btn-sm float-right" (click)="goBack()"> <i class="fa fa-step-backward" aria-hidden="true"></i> Go Back</button>


        <h4 *ngIf="account.type  && create">You are opening <span class="badge badge-pill badge-primary text-capitalize"> {{account.type}} Account</span> </h4>
        <h4 *ngIf="!create"><span class="text-primary text-capitalize"> {{account.type}} Account # {{account.num}}</span> </h4>
        <form name="save{className}" (ngSubmit)="save()" #accountCreateForm="ngForm">
          <fieldset class="form">

            <div class="row" *ngIf="!account.type">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">Checking Bank Account</h3>
                    <p class="card-text">A straightforward personal checking solution — good for those with direct deposit.</p><br>
                    <button type="button" class="btn btn-primary" name="checkingtype" (click)="lockAccount('checking')">Open Checking Account</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">Savings Bank Account</h3>
                    <p class="card-text">For those who keep high balances and want multiple interest-earning accounts with complimentary services.</p>
                    <button type="button" class="btn btn-primary" name="savingtype" (click)="lockAccount('saving')">Open Savings Account</button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="account.type">

              <div class="fieldcontain required">
                <label for="source">Source
                            <span class="required-indicator">*</span>
                          </label>
                <select class="form-control" required="" name="source" id="source" [(ngModel)]="account.source" type="text" #source="ngModel">
                                <option *ngFor="let p of incomeSources" [value]="p">{{p}}</option>
                              </select>

                <div *ngIf="source.errors && (source.dirty || source.touched)" class="alert alert-danger">
                  <div [hidden]="!source.errors.required">
                    Source is required
                  </div>
                </div>

              </div>

              <div class="fieldcontain required">
                <label for="salary">Salary
                    <span class="required-indicator">*</span>
                  </label>
                <input class="form-control" required="" name="salary" maxlength="8" id="salary" [(ngModel)]="account.salary" pattern="[0-9]+"
                  type="text" #salary="ngModel" />

                <div *ngIf="salary.errors && (salary.dirty || salary.touched)" class="alert alert-danger">
                  <div [hidden]="!salary.errors.required">
                    Salary is required
                  </div>
                  <div [hidden]="!salary.errors.pattern">
                    Salary should be number
                  </div>
                </div>
              </div>


              <div class="fieldcontain required" *ngIf="create">
                <label for="dateOfBirth">Date Of Birth
                    <span class="required-indicator">*</span>
                  </label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="account.dateOfBirth"
                    ngbDatepicker #dateOfBirth="ngbDatepicker" [maxDate]="maxDate">
                    <div class="input-group-addon" (click)="dateOfBirth.toggle()">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>


                <div *ngIf="dateOfBirth.errors && (dateOfBirth.dirty || dateOfBirth.touched)" class="alert alert-danger">
                  <div [hidden]="!dateOfBirth.errors.required">
                    Date of Birth is required
                  </div>
                </div>

              </div>

              <div class="fieldcontain required" *ngIf="!create">
                <label for="dateOfBirth">Date Of Birth
                  </label>
                <div class="input-group">
                  {{birthDate}}
                </div>

              </div>



              <div class="fieldcontain required">
                <label for="address1">Address1
                    <span class="required-indicator">*</span>
                  </label>
                <input class="form-control" required="" name="address1" id="address1" [(ngModel)]="account.address1" type="text" #address1="ngModel"
                />

                <div *ngIf="address1.errors && (address1.dirty || address1.touched)" class="alert alert-danger">
                  <div [hidden]="!address1.errors.required">
                    Address1 is required
                  </div>
                </div>
              </div>
              <div class="fieldcontain required">
                <label for="address2">Address2</label>
                <input class="form-control" name="address2" id="address2" [(ngModel)]="account.address2" type="text" #address2="ngModel"
                />

              </div>
              <div class="fieldcontain required">
                <label for="city">City
                    <span class="required-indicator">*</span>
                  </label>
                <input class="form-control" required="" name="city" id="city" [(ngModel)]="account.city" type="text" #city="ngModel" />

                <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                  <div [hidden]="!city.errors.required">
                    City is required
                  </div>
                </div>
              </div>
              <div class="fieldcontain required">
                <label for="state">State
                    <span class="required-indicator">*</span>
                  </label>
                <select class="form-control" required="" name="state" id="state" [(ngModel)]="account.state" type="text" #state="ngModel">
                                <option *ngFor="let p of stateList" [value]="p.abbreviation">{{p.name}}</option>
                              </select>

                <div *ngIf="state.errors && (state.dirty || state.touched)" class="alert alert-danger">
                  <div [hidden]="!state.errors.required">
                    State is required
                  </div>
                </div>
              </div>
              <div class="fieldcontain required">
                <label for="zipCode">Zip Code
                    <span class="required-indicator">*</span>
                  </label>
                <input class="form-control" required="" name="zipCode" id="zipCode" minlength="5" maxlength="5" [(ngModel)]="account.zipCode"
                  pattern="[0-9]+" type="text" #zipCode="ngModel" />

                <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
                  <div [hidden]="!zipCode.errors.required">
                    ZipCode is required
                  </div>
                  <div [hidden]="!zipCode.errors.pattern">
                    ZipCode should be number
                  </div>
                  <div [hidden]="!zipCode.errors.minlength">
                    ZipCode should be 5 digits
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <hr>
          <fieldset class="buttons clearfix" *ngIf="account.type">
            <input type="submit" class="btn btn-primary float-right" [value]="create ? 'Create Account' : 'Update Account'" [disabled]="!accountCreateForm.valid"
            />
          </fieldset>

        </form>
      </div>
    </div>
    <!--/span-->

    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" *ngIf="accountList.length>0 && !create">
      <div class="list-group account-list">
        <span class="list-group-item text-primary">Account List</span>
        <span *ngFor="let account of accountList; let e = even;"><a [routerLink]="['/account','edit',account.id]"  class="list-group-item text-capitalize">
       <span class="badge badge-pill badge-default">{{account.type}} Account - {{account.num}}</span></a>
        </span>
      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->


</div>