<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Bank Of America</a>
    <div class="collapse navbar-collapse  mt-2 mt-md-0" id="navbarCollapse">
      <span class="navbar-nav mr-auto">        
      </span>
      <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  btn-outline-success" href="/#/register">Registration</a>
          </li>
          <li class="nav-item" *ngIf="isUserLogged">
           <!-- <a class="nav-link  btn-outline-success" href="/#/account">Account</a> -->
            <a  class="nav-link btn-outline-success" routerLink="/account">{{isUserLogged?'Account':''}}</a>
          </li>
          <li class="nav-item" *ngIf="!isUserLogged">
            <a class="nav-link  btn-outline-success" href="/#/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isUserLogged">
            <a class="nav-link  btn-outline-success" (click)="logoutCurrentUser()" href="#">Logout</a>
          </li>
        </ul>
      </form>
    </div>
</nav>

